extend ../layouts/main-layout.pug

block content
    main.centered.card
        h1.detail__title= product.title
        hr
        div
            img.detailImg(src=product.imageURL, alt=product.title)
        h2 R$ #{product.price}
        p #{product.description}
        include ../includes/addToCart.pug
